.wrapper{
    width: 100%;
    height: 100%;  
    display: flex;
    justify-content: center;
}

.sidenav-block {
    width: 75%;
    height: 100%;
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    flex-direction: column;
}
.search-input {
    width: 323px;
    height: 37px;
    font-size: 11px;
    font-family:Poppins, sans-serif ;
    border-radius: 2px;
    border: 1px solid #CEA352;
    padding-left: 20px;
    letter-spacing: 1px;
  }
  
  .search-button {
    position: absolute;
    transform: translate(280px,-25px);
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a4a4a;
    font-size: 13px;
  }
  .search-button:hover{
    color: #CEA352;
  }


  ///////
  .primary-menu-container {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .primary-menu {
    display: flex;
    flex-direction: column;
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .primary-menu li {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 3px;
    height: 40px;
  }
  
  .primary-menu li a {
    text-decoration: none;
    color: #4a4a4a;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-size: 11px;
    display: inline-block;
  }
  
  ////////
  .sub-author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    gap: 20px;
  }
  .widget-title {
    width: 100%;
    height: 37px;
    border: 1px solid #CEA352;
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #4a4a4a;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .portrait-author {
    border-radius: 50%;
  }
  
  .inf-author {
    width: 320px;
    font-size: 14px;
    text-align: justify;
    font-family: PT Serif, Serif, sans-serif;
    color: #4a4a4a;
    line-height: 2;
  }
  
  .inf-author .icon a {
    display: flex;
    align-items: center;
    gap: 10px; 
    text-decoration: none;
    font-size: 14px;
  }
  
  .inf-author .icon a:hover {
    text-decoration: underline; 
  }
  .image-list-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .image-list {
    list-style-type: none;
    display: flex;
    gap: 20px; 
    margin: 0;
    padding: 0;
    max-width: 90%; 
    flex-wrap: nowrap; 
    height: 90px; 
  }
  
  .image-list img {
    width: 140px; 
    height: auto; 
  }
  
  .list-social {
    display: flex;
    list-style-type: none;
    gap: 70%;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    display: inline-block;
  }
  
  .icon a {
    color: #4a4a4a;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
  
  .icon a:hover {
    color: #CEA352;
  }
  
@media (max-width: 411px) {
  .sidenav-block {
      width: 100%;
      padding-left: 50px;
  }
  .wrapper{
    margin-right: 100px;
  }
}
